version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run:
          name: Check for reserved branch names
          command: |
            if [[ $CIRCLE_BRANCH = latest || $CIRCLE_BRANCH = packer ]]; then
              echo "Don't use a branch named 'latest' or 'packer'; these are meaningful tags."
              exit 1
            fi
      - run:
          name: Login to Docker Hub
          command: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run:
          name: Build container - latest
          command: docker build --build-arg BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"`
                                --build-arg VCS_REF=$CIRCLE_SHA1
                                -t trussworks/circleci-docker-primary
                                -t trussworks/circleci-docker-primary:base
                                .
      - run:
          name: Build container - packer
          command: cd packer &&
                   docker build --build-arg BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"`
                                --build-arg VCS_REF=$CIRCLE_SHA1
                                -t trussworks/circleci-docker-primary:packer
                                .
      - run:
          name: Test containers
          command: ./test

      - run:
          name: Release container
          command: |
            for tag in $CIRCLE_SHA1 $CIRCLE_BRANCH; do
              # latest
              docker tag  trussworks/circleci-docker-primary trussworks/circleci-docker-primary:$tag
              docker push trussworks/circleci-docker-primary:$tag

              # packer
              docker tag  trussworks/circleci-docker-primary:packer trussworks/circleci-docker-primary:packer-$tag
              docker push trussworks/circleci-docker-primary:packer-$tag
            done

            # default tags
            if [[ $CIRCLE_BRANCH = master ]]; then
              docker push trussworks/circleci-docker-primary
              docker push trussworks/circleci-docker-primary:packer
            fi
